<div class=" bottom ">
	
	© 2020 CONNECT. NO RIGHTS RESERVED<br>
	CREATED BY <img src="/images/pandanav.jpg" width="20px"> BDA
</div>
<script>
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/groupbox.js"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>