<html>
	<head>
		<title>kungfupanda</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="shortcut icon" href="images/pandaa.png">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel="stylesheet" type="text/css">
	<link href='/css/styles.css' rel="stylesheet" type="text/css">   <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container haft">
			<h1 style="font-family:Times New Roman">
				CONNECT
			</h1>
			<form action="/login" method="post">
				<input type="text" name="username" placeholder="Username" style="width:300px;height:40px;">
				<input type="password" name="password" placeholder="Password" style="width:300px;height:40px;">
				<button class="form-control btn button btn-info btn-block" style="width:300px;height:40px;margin-left:10px">
					Log In
				</button>
			</form>
	    <hr style="width:45%;float:left"><span style="float:left;padding-top:3px;padding-left:5px">OR</span><hr style="width:45%;float:left">		
               <a href="/signup">Sign Up!</a>
		</div>
<img src="/images/upFile-1597754941520.jpg">
<%- include("partials/footer") %>